{% extends 'base.html' %}

{% block register %}
    <div class="wrapper">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <form class="form-example" action="" method="post"> {% csrf_token %}
                        <div class="card-header">
                            <h1 class="card-title">Register an account by filling fields below</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 col-form-label">Username:</label>
                                <div class="col-sm-9">
                                    {% if error_username_message %}
                                        <span class="text-danger"
                                              style="padding-left: 10px">{{ error_username_message.0.message }}</span>
                                    {% endif %}
                                    <input type="text" class="form-control username" id="username"
                                           placeholder="Username..."
                                           name="username">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Password:</label>
                                <div class="col-sm-9">
                                    {% if error_password_message %}
                                        <span class="text-danger"
                                              style="padding-left: 10px">{{ error_password_message.0.message }}</span>
                                    {% endif %}
                                    <input type="password" class="form-control password" id="password1"
                                           placeholder="Password..."
                                           name="password1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password_confirm" class="col-sm-3 col-form-label">Confirm Password:</label>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        {% if error_password_confirm %}
                                            <span class="text-danger"
                                                  style="padding-left: 10px">{{ error_password_confirm.0.message }}</span>
                                        {% endif %}
                                        <input type="password" class="form-control password" id="password2"
                                               placeholder="Confirm Password..."
                                               name="password2">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">

                            <div class="row">
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-primary btn-customized">Register
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>
                    <!-- Form end -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}