{% extends 'base.html' %}

{% block login %}
    <div class="col-md-12">
        <div class="justify-content-center">
            <h1>Welcome To LAN Monitoring App</h1>
            <p1>Login or create an account to proceed further</p1>
            <form method="post"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success"> Login</button>
                <p> Don't have an account? Register <a href="register.html">here</a></p>
            </form>
        </div>
    </div>
{% endblock %}

