{% load static %}
<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-off">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'config_app/css/black-dashboard.css' %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Network Controller
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{% static '/config_app/css/nucleo-icons.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static '/config_app/css/black-dashboard.css' %}" rel="stylesheet">


</head>
<body>
<div class="wrapper">
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="search-bar input-group">
                        </li>
                    </ul>
                    <a class="navbar-brand" href="{% url 'dashboard' %}">Network Controller</a>
                </div>
            </div>
        </nav>
        <div class="content">

            {% block login %}
            {% endblock %}

            {% block register %}
            {% endblock %}

            {% block dashboard %}
            {% endblock %}

        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="{% static '/config_app/js/core/jquery.min.js' %}"></script>
<script src="{% static '/config_app/js/core/popper.min.js' %}"></script>
<script src="{% static '/config_app/js/core/bootstrap.min.js' %}"></script>
<script src="{% static '/config_app/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

<script src="{% static '/config_app/js/black-dashboard.js' %}"></script>
<script src="{% static '/config_app/js/select_script.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>

