{% extends 'base.html' %}
{% load static %}

{% block login %}
    <!-- Form -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <form class="form-example" action="" method="post"> {% csrf_token %}
                        <div class="card-header">
                            <h1 class="card-title">Welcome to Network Monitoring App</h1>
                            <p class="card-subtitle">Login or create an account to proceed further</p>

                            {% if error_status_message %}
                                <h2 class="card-category">
                                    <span class="text-danger">Invalid credentials</span>
                                </h2>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="form-group row">

                                <!-- Input fields -->
                                <label for="username" class="col-sm-3 col-form-label">Username:</label>
                                <div class="col-sm-9">

                                    <input type="text" class="form-control username" id="username"
                                           placeholder="Username..."
                                           name="username">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Password:</label>
                                <div class="col-sm-9">

                                    <input type="password" class="form-control password" id="password"
                                           placeholder="Password..."
                                           name="password">
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">

                            <div class="row">
                                <div class=" col-sm">
                                    <button type="submit" class="btn btn-primary btn-customized">Login
                                    </button>
                                    <!-- End input fields -->
                                </div>
                                <div class="col-sm">
                                    <p style="padding-top: 10px"> Don't have an account? Register <a
                                            href="{% url 'registration' %}">here</a></p>
                                </div>

                            </div>

                        </div>


                    </form>
                    <!-- Form end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

