{% extends 'dashboard.html' %}
{% load static %}
{% block visualize %}
    {% if lldp_neighbor_details and device_model %}
        <div class="container">
            <div class="row">
                <div class="col" style="padding-left: 35px;">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title">Device Neighbors -
                                <b class="text-info">{{ device_model.system_name }} #{{ device_model.id }}</b></h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for local, neighbor  in lldp_neighbor_details %}
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <p><b class="text-info">Remote Name</b> : {{ neighbor.system_name }}</p>
                                                <p><b class="text-info">Remote Interface</b>
                                                    : {{ local.lldp_neighbor_interface }}</p>
                                                <p><b class="text-info">Local Interface</b> : {{ local.interface_description }} </p>
                                                <p><b class="text-info">Local Interface IP</b> : {{ local.interface_ip }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="row">
        <form class="form" id="form-id" action=""
              method="post"> {% csrf_token %}
            <svg width="100%" height="100%">
                <rect width="100%" height="100%"
                      style="fill:#1d253b;stroke:#3e82f3;stroke-width:5;opacity:0.5"></rect>
            </svg>
            <input type="hidden" name="get_lldp_details" value="None" id="device_post">

        </form>
    </div>



    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src=https://code.jquery.com/jquery-3.5.1.min.js></script>

    <script>
        var no_neighbor_interfaces = "{% static 'visualize_app/data/no_neighbor_interfaces.json'%}"
        var graph_data_path = "{% static 'visualize_app/data/graph_data.json' %}"
        var interfaces = "{% static 'visualize_app/data/interfaces.json' %}"
        var neighbors = "{% static 'visualize_app/data/neighbors.json' %}"
        var image_path = "{% static 'visualize_app/img/group' %}"
    </script>
    <script src="{% static 'visualize_app/js/visualize_network.js' %}"></script>


{% endblock %}