{% extends 'dashboard.html' %}
{% load static %}

{% block manage_network %}

    <div class="container">
        {% if error_status_message %}
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> {{ error_status_message }}
            </div>
        {% endif %}
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h1 class="card-title">Manage Network Devices</h1>
                            </div>

                            <form action="" method="get">
                                <div class="col">
                                    <span class="text-info" id="scanning_span"
                                          style="font-size: 15px"></span>
                                    <input type="submit" name="get_devices_details" value="Refresh List"
                                           class="btn btn-primary btn-customized" style="margin: 20px"
                                           onclick="ScanningLabel();">
                                </div>
                            </form>
                            {% if not traps_engine_running and traps_enabled %}
                                <form class="form" action="" method="post"> {% csrf_token %}
                                    <div class="col">
                                        <input type="submit" id="id_start_trap_engine" name="start_trap_engine"
                                               value="Start Trap Engine"
                                               class="btn btn-primary btn-customized"
                                               style="margin: 20px">
                                    </div>
                                </form>
                            {% elif traps_enabled and traps_engine_running %}
                                <form class="form" action="" method="post"> {% csrf_token %}
                                    <div class="col">
                                        <input type="submit" id="id_stop_trap_engine" name="stop_trap_engine"
                                               value="Stop Trap Engine"
                                               class="btn btn-primary btn-customized"
                                               style="margin: 20px">
                                    </div>
                                </form>
                                <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                                <script>
                                    function CallMethod(button) {
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url 'ajax_trap_engine' %}',
                                            data: {
                                                'button':button
                                            },
                                            dataType: 'json',
                                            success: function (data){
                                                {#TO DO #}
                                            }
                                        })
                                    }

                                    $("#id_start_trap_engine").click(function () {
                                        CallMethod('start')
                                    })

                                    $("#id_stop_trap_engine").click(function () {
                                        CallMethod('stop')
                                    })
                                </script>
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">


                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Device Name</th>
                                                <th scope="col">Device Type</th>
                                                <th scope="col">No. Interfaces</th>
                                                <th scope="col">Software</th>
                                                <th scope="col">System Version</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Administrator</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for device in devices_details_output %}
                                                <tr>
                                                    <th scope="row">{{ device.id }}</th>
                                                    <td>
                                                        <a href="?device_id={{ device.id }}">{{ device.system_name }}
                                                        </a>
                                                    <td><p class="text-info">{{ device.device_type }} </p></td>
                                                    <td>{{ device.if_number }}</td>
                                                    <td>{{ device.system_image }}</td>
                                                    <td>{{ device.system_version }}</td>
                                                    <td>{{ device.system_location }}</td>
                                                    <td>{{ device.system_contact }}</td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% if device_detail_output or page_object %}
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title"> Device Details </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="device_details" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="system-tab" data-toggle="tab" href="#system"
                                       role="tab"
                                       aria-controls="home" aria-selected="true">System</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="interfaces-tab" data-toggle="tab" href="#interfaces"
                                       role="tab"
                                       aria-controls="profile" aria-selected="false">Interfaces</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab"
                                       aria-controls="profile" aria-selected="false">Traps and Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab"
                                       aria-controls="contact" aria-selected="false">Others</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="device_details_content">

                                <div class="tab-pane fade show active" id="system" role="tabpanel"
                                     aria-labelledby="system-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>{{ device_detail_output.device_type }} System
                                                Details</b></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <p><b class="text-info">System Name</b>
                                                        : {{ device_detail_output.full_system_name }}</p>
                                                    <p><b class="text-info">Version</b>
                                                        : {{ device_detail_output.system_version }}</p>
                                                    <p><b class="text-info">Image</b>
                                                        : {{ device_detail_output.system_image }}</p>
                                                    <p><b class="text-info">Type</b>
                                                        : {{ device_detail_output.system_type }}</p>
                                                    <p><b class="text-info">Contact</b>
                                                        : {{ device_detail_output.system_contact }}</p>
                                                    <p><b class="text-info">Location</b>
                                                        : {{ device_detail_output.system_location }}</p>
                                                    <p><b class="text-info">System Up From</b>
                                                        : {{ device_detail_output.system_up_time }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="interfaces" role="tabpanel"
                                     aria-labelledby="interfaces-tab">
                                    {% for interface in device_interfaces_output %}
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title"><b>{{ interface.interface_description }} </b>
                                                </h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p><b class="text-info">MAC
                                                                Address</b>: {{ interface.interface_physical_addr }}
                                                            </p>
                                                            <p><b class="text-info">IP Address</b>
                                                                : {{ interface.interface_ip }}</p>
                                                            <p><b class="text-info">Bandwidth</b>
                                                                : {{ interface.interface_speed }}
                                                                Kbits/sec
                                                            </p>
                                                            <p><b class="text-info">Admin Status</b>
                                                                : {{ interface.interface_admin_status }}

                                                            </p>
                                                            <p><b class="text-info">Operational Status</b>
                                                                : {{ interface.interface_operational_status }}</p>
                                                        </div>
                                                        <div class="col">
                                                            <p><b class="text-info">Input Unicast
                                                                Packets</b>: {{ interface.interface_in_unicast_packets }}
                                                            </p>
                                                            <p><b class="text-info">Output Unicast
                                                                Packets</b>: {{ interface.interface_out_unicast_packets }}
                                                            </p>
                                                            <p><b class="text-info">Input Errors</b>
                                                                : {{ interface.interface_in_errors }}
                                                            </p>
                                                            <p><b class="text-info">Output Errors</b>
                                                                : {{ interface.interface_out_errors }}
                                                            </p>
                                                            <p><b class="text-info">MTU</b>
                                                                : {{ interface.interface_mtu }} bytes</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            {% if not warning_status_message %}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="pagination">
                                                        <span class="step-links" id="links">
                                                            <span class="current" id="id_page_current">
                                                            Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                                                            </span>
                                                            {% if next_page %}
                                                                <a href="#" id="id_page_first"></a>
                                                                <a href="#" id="id_page_previous" data=""></a>

                                                                <a href="#" id="id_page_next"
                                                                   data="{{ page_object.next_page_number }}">next</a>
                                                                <a href="#" id="id_page_last"
                                                                   data="{{ page_object.paginator.num_pages }}">last &raquo;</a>
                                                            {% endif %}
                                                            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                                                        <script>

                                                            function AddNavTags() {
                                                                var first_nav_tag = document.getElementById('id_page_first');
                                                                var previous_nav_tag = document.getElementById('id_page_previous');

                                                                first_nav_tag.innerHTML = '&laquo; first ';
                                                                previous_nav_tag.innerText = 'previous';

                                                                var all_links = document.getElementById('links')
                                                                all_links.insertBefore(previous_nav_tag, all_links.firstChild)
                                                                all_links.insertBefore(first_nav_tag, all_links.firstChild)
                                                            }


                                                            function CallMethod(page_number, call_type) {
                                                                $.ajax({
                                                                    type: 'GET',
                                                                    url: "{% url 'ajax_trap_view' %}",
                                                                    data: {
                                                                        'page_number': page_number
                                                                    },
                                                                    dataType: 'json',
                                                                    success: function (data) {
                                                                        var content = '';
                                                                        for (var i = 0; i < data['trap_json_data'].length; i++) {
                                                                            content += `<tr>
                                                                            <th scope="row">${data['trap_json_data'][i]['pk']}</th>
                                                                            <td style="width: 160px">${data['trap_json_data'][i]['fields']['trap_date']}</td>
                                                                            <td>${data['trap_json_data'][i]['fields']['trap_address']}</td>
                                                                            <td>${data['trap_json_data'][i]['fields']['trap_port']}</td>
                                                                            <td>${data['trap_json_data'][i]['fields']['trap_string_data']}</td>
                                                                            </tr>`
                                                                        }
                                                                        $("#trap_table tbody").html(content);

                                                                        var first = document.getElementById('id_page_first');
                                                                        var previous = document.getElementById('id_page_previous');
                                                                        var last = document.getElementById('id_page_last');
                                                                        var next = document.getElementById('id_page_next');
                                                                        var page_counter = '';
                                                                        var page_number = '';

                                                                        if (call_type === 'first') {
                                                                            first.innerHTML = '';
                                                                            previous.innerText = '';
                                                                            next.innerText = 'next';
                                                                            last.innerHTML = 'last &raquo';

                                                                            page_counter = 'Page 1 of ' + last.getAttribute('data');
                                                                            document.getElementById('id_page_next').setAttribute('data', '2')


                                                                        } else if (call_type === 'previous') {
                                                                            page_number = data['current_page'];
                                                                            var next_page_number = (parseInt(page_number) + 1).toString()
                                                                            page_counter = 'Page ' + page_number + ' of ' + last.getAttribute('data');

                                                                            document.getElementById('id_page_next').setAttribute('data', next_page_number)
                                                                            if (page_number < data['last_page']) {
                                                                                next.innerText = 'next';
                                                                                last.innerHTML = 'last &raquo';
                                                                            }

                                                                            if (data['current_page'] === '1') {
                                                                                first.innerHTML = '';
                                                                                previous.innerText = '';
                                                                            }


                                                                        } else if (call_type === 'last') {
                                                                            first.innerHTML = '&laquo first ';
                                                                            previous.innerText = 'previous';
                                                                            next.innerText = '';
                                                                            last.innerText = '';
                                                                            page_counter = 'Page ' + last.getAttribute('data') + ' of ' + last.getAttribute('data');
                                                                            document.getElementById('id_page_next').setAttribute('data', (parseInt(last.getAttribute('data')) + 1).toString())

                                                                        } else if (call_type === 'next') {
                                                                            var current_page = data['current_page']
                                                                            page_number = (parseInt(data['current_page']) + 1).toString();
                                                                            page_counter = 'Page ' + current_page + ' of ' + last.getAttribute('data');

                                                                            document.getElementById('id_page_next').setAttribute('data', page_number)

                                                                            if (page_number > data['last_page']) {
                                                                                next.innerText = '';
                                                                                last.innerText = '';
                                                                            }

                                                                            if (data['current_page'] !== 1) {
                                                                                first.innerHTML = '&laquo first ';
                                                                                previous.innerText = 'previous';
                                                                            }

                                                                        }
                                                                        document.getElementById('id_page_current').innerText = page_counter
                                                                    }
                                                                });
                                                            }

                                                            var nav_tags_added = false;

                                                            $("#id_page_first").click(function () {
                                                                nav_tags_added = false;
                                                                CallMethod('1', 'first')
                                                            })

                                                            $("#id_page_previous").click(function () {
                                                                var page_number = document.getElementById('id_page_next').getAttribute('data');
                                                                page_number = (parseInt(page_number) - 2).toString();
                                                                if (page_number < 1) {
                                                                    page_number = 1;
                                                                }
                                                                CallMethod(page_number, 'previous');
                                                            })

                                                            $("#id_page_next").click(function () {
                                                                var page_number = $(this).attr('data');

                                                                if (!nav_tags_added) {
                                                                    nav_tags_added = true;
                                                                    AddNavTags();
                                                                }

                                                                CallMethod(page_number, 'next');

                                                            })

                                                            $("#id_page_last").click(function () {
                                                                var last_page = $(this).attr('data')

                                                                if (!nav_tags_added) {
                                                                    nav_tags_added = true;
                                                                    AddNavTags();
                                                                }
                                                                CallMethod(last_page, 'last');
                                                            });

                                                    </script>

                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table" id="trap_table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Datetime</th>
                                                        <th scope="col">Agent Address</th>
                                                        <th scope="col">Agent Port</th>
                                                        <th scope="col">Trap Details</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for trap in page_object %}
                                                        <tr>
                                                            <th scope="row">{{ trap.id }}</th>
                                                            <td style="width: 160px">{{ trap.trap_date }}</td>
                                                            <td>{{ trap.trap_address }}</td>
                                                            <td>{{ trap.trap_port }}</td>
                                                            <td>{{ trap.trap_string_data }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>
                                            {% else %}
                                                <div class="row">
                                                    <div class="col">
                                                        <h4 class="text-info text-center"> {{ warning_status_message }}</h4>
                                                    </div>
                                                </div>
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col">
                                                    {% if device_detail_output %}
                                                        <h3 class="card-title" style="padding-top: 20px">
                                                            <b>{{ device_detail_output.full_system_name }}</b>
                                                        </h3>
                                                    {% endif %}
                                                </div>
                                                <form class="form" action="" method="post"> {% csrf_token %}
                                                    <div class="col">
                                                        <input type="submit" name="run_ssh_session" value="SSH Session"
                                                               class="btn btn-primary btn-customized"
                                                               style="margin: 20px">
                                                        <input type="hidden" name="run_ssh_session"
                                                               value="{{ device_detail_output.id }}">

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

{% endblock %}