{% extends 'base.html' %}

{% block dashboard %}

    <div class="container-fluid">
        <div class="wrapper">

            {% block visualize %}
            {% endblock %}

            <div class="row">
                <div class="col-sm-2 col-md-3 sidebar">

                    <div class="sidebar-wrapper">
                        <div class="logo">
                            <a target="_blank" href="{% url 'dashboard' %}"
                               class="simple-text logo-mini">
                                NM
                            </a>
                            <a target="_blank" href="{% url 'dashboard' %}"
                               class="simple-text logo-normal">
                                Dashboard
                            </a>
                        </div>

                        <ul class="nav">
                            <li>
                                <a href="{% url 'config_network' %}">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                    <p>Configure Network</p>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'manage_network' %}" role="tab">
                                    <i class="tim-icons icon-molecule-40"></i>
                                    <p>Manage Network</p>
                                </a>
                            </li>

                            <li class="">
                                <a href="{% url 'visualize_network' %}" role="tab">
                                    <i class="tim-icons icon-globe-2"></i>
                                    <p>Visualize Network</p>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'logout' %}">
                                    <i class="tim-icons icon-user-run"></i>
                                    <p>Logout</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                {% block manage_network %}
                {% endblock %}

                {% block configure_network %}
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}